<!DOCTYPE html>
<html lang="en">
{% load staticfiles %} 
<html>
<head>
  <title>kino KC</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">      
  <link rel="stylesheet" href="{% static 'css/kinokc.css' %}">
  <link href="//fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <script src="{% static "js/jquery-1.12.3.js" %}"></script>
  <script src="{% static "js/jquery.js" %}"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 300px;
      margin: auto;
  }
  </style>
</head>
<body>
<header class="container">
	<div class="row"> 
		<a class="col-xs-12 col-sm-2" href="{% url 'start' %}"><img src="{% static "images/logo.png" %}" alt="logo"/></a>
		<div class="hidden-xs col-sm-10">
          <a href=""><img class="col-sm-1" src="{% static "images/fejs.png" %}" alt="fejs"/></a>
          <a href=""><img class="col-sm-1" src="{% static "images/twitter.png" %}" alt="twitter"/></a>
          <a href=""><img class="col-sm-1" src="{% static "images/google.png" %}" alt="google"/></a>
          <a href=""><img class="col-sm-1" src="{% static "images/insta.png" %}" alt="insta"/></a>
		</div>
		<div class="hidden-xs col-sm-10" id="KC"></div>
{% block content %}
{% endblock %}
<footer class="container">
	<div class="row">
		<p class="col-xs-12 col-sm-2">
			kino KC</br>
			ul Nowy Świat 6/12</br>
			(wejście od dziedzińca)</br> 
		</p>
		<div class="row col-xs-12 col-sm-4 footer-newsletter">
			<p class="footer-red-text">Newsletter</p>
			<p>
				<a href="{% url 'signup' %}">
					<button type="submit" class="save btn btn-default">Dołącz</button>
				</a>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<p class="col-xs-6 col-sm-2 pull-right" id="knight"><span class="glyphicon glyphicon-knight"></span></br>Panama Project</p>
			<img class="col-xs-6 col-sm-2 pull-right" src="{% static "images/sks.png" %}" alt="sks"/>
		</div>
	</div>
</footer>
</body>
</html>
