{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="col-sx-12 col-sm-2 nav-rep rep-white">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="hidden-xs col-sm-2 nav-rep">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="hidden-xs col-sm-2 nav-rep">Towarzysze</p></a>
				<a href="{% url 'kontakt' %}"><p class="hidden-xs col-sm-2 nav-rep">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<!-- carousel -->
<div class="container carousel_strech">
<div class="col-sm-12 carousel_strech">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active curousel-img">
        <img src="{% static "images/slide-1-bilety.jpg" %}" alt="slide-1">
        <div class="carousel-caption">
          <h3>Zdobądź Legitymację Partyjną!</h3>
        </div>
      </div>

      <div class="item curousel-img">
        <img src="{% static "images/slide-2-bilety.jpg" %}" alt="slide-2">
        <div class="carousel-caption">
          <h3>Zbierz 10 biletów...</h3>
        </div>
      </div>
    
      <div class="item curousel-img">
        <img src="{% static "images/slide-3-bilety.jpg" %}" alt="slide-3">
        <div class="carousel-caption">
          <h3>...okarz je w kasie...</h3>
        </div>
      </div>

      <div class="item curousel-img">
        <img src="{% static "images/slide-4-bilety.jpg" %}" alt="slide-4">
        <div class="carousel-caption">
          <h3>...i ciesz się biletami za 14zł na każdy seans!</h3>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
<!--end carousel-->
<article class="container">
	<div class="row">
		<div class="hidden-xs col-sm-4">
			<img class="bilety-left" src="{% static "images/uwaga.png" %}" alt="uwaga"/>
		</div>
		<div class="col-xs-8 col-sm-4">
			<p class="uwaga">Uwaga! Płatność za bilety wyłącznie gotówką.</p>
		</div>
		<div class="col-xs-4 col-sm-4">
			<img class="bilety-right" src="{% static "images/cash.png" %}" alt="cash"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 bilety-col">
				<p class='red'>
					Poniedziałek </br>
				</p>
				<p class='white'>
					Normalny: 19 zł</br>
					Ulgowy: 16 zł</br>
					(drugi bilet za pół ceny)
				</p>
		</div>
		<div class="col-xs-12 col-sm-4 bilety-col">
				<p class='red'>
					Wtorek - Czwartek </br>
				</p>
				<p class='white'>
					Normalny: 19 zł</br>
					Ulgowy: 16 zł
				</p>
		</div>
		<div class="col-xs-12 col-sm-4 bilety-col">
				<p class='red'>
					Piątek (oprócz świąt) </br>
				</p>
				<p class='white'>
					Normalny: 10 zł</br>
					Ulgowy: 10 zł
				</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 legi-left">
			<div class="col-xs-12 col-sm-12 bilety-col">
				<p class='red'>
					Sobota, Niedziela i Święta</br>
				</p>
				<p class='white'>
					Normalny: 21 zł</br>
					Ulgowy: 19 zł
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 bilety-col">
				<p class='red'>
					Legitymacja Partyjna</br>
				</p>
				<p class='white'>
					Z legitymacją partyjną</br>
					(kartą stałego widza)</br>
					bilet za 14zł
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 bilety-col">
				<p class='red'>
				Zdobądź LEGITYMACJĘ PARTYJNĄ
				</p>
				<p class='white'>
					I zostań</br>
					naszym</br>
					Towarzyszem
				</p>
			</div>
		</div>
		<div class="hidden-xs col-sm-8 view view-first">
				<img class="legitymacja" src="{% static "images/legitymacja.jpg" %}" alt="legitymacja"/>
				<div class="mask">  
					<h2>Zdobądź Legitymację Partyjną!</h2>  
					<p>Zachowaj zakupiony bilet i zbieraj do 10! </br>Przynieś wykorzystane bilety do kasy kina </br>– w zamian podarujemy Ci LEGITYMACJĘ PARTYJNĄ, </br>upoważniającą do zakupu biletów do KINA KC w promocyjnej cenie 14zł,</br> na wszystkie seanse, </br>również w weekendy i święta.</p>  
				</div>
		</div>
	</div>
</article>
{% endblock content %}
