{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="hidden-xs col-sm-2 nav-rep">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="hidden-xs col-sm-2 nav-rep">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="hidden-xs col-sm-2 nav-rep">Towarzysze</p></a>
				<a href="{% url 'kontakt' %}"><p class="col-sx-12 col-sm-2 nav-rep rep-white">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<article class="container">
	<div class="row">
		<div class="col-sm-4 kontakt-text">
			<div class="col-xs-12 col-sm-12">
				<p>
					Adres:</br>
					ul. Nowy Świat 6/12</br>
					00-400 Warszawa</br>
				</p>
			</div>
			<div class="col-xs-12 col-sm-12">
				<p>
					Budynek Centrum</br>
					Bankowo – Finansowego</br>
					„Nowy Świat” SA</br>
					(wejście od dziedzińca)</br>
				</p>
			</div>
			<div class="col-xs-12 col-sm-12">
				<p>
					REZERWACJA BILETÓW: </br>
					<span class="glyphicon glyphicon-phone-alt gly-color"></span></br>
					510 194 247
				</p>
			</div>
			<div class="col-xs-12 col-sm-12">
				<p id="ostatni-seans">
					Ostatni seans w danym dniu wyświetlamy dla minimum 2 osób posiadających zakupiony bilet ( nie dotyczy darmowych biletów).
				</p>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="hidden-xs col-sm-12">
				<iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6840181145385!2d21.019862850955068!3d52.230958365263085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf6df09c199%3A0xa9bc142e2361c4f7!2sKino+KC!5e0!3m2!1sde!2sat!4v1466610431492" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<img class="col-xs-12 col-sm-12 kontakt-img" src="{% static "images/map.png" %}" alt="map"/>
	</div>
</article>
{% endblock content %}
