{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="hidden-xs col-sm-2 nav-rep">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="hidden-xs col-sm-2 nav-rep">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="col-sx-12 col-sm-2 nav-rep rep-white">Partnerzy</p></a>
				<a href="{% url 'kontakt' %}"><p class="hidden-xs col-sm-2 nav-rep">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<article class="container">
	<div class="row">
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/eurotrad.png" %}" alt="eurotrad"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/cbf.jpg" %}" alt="cbf"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/students.jpg" %}" alt="students"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/kulisy.jpg" %}" alt="kulisy"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/5kg.png" %}" alt="5kg"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/waw.png" %}" alt="waw"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/irka.jpg" %}" alt="irka"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/polska.png" %}" alt="polska"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/sksil.jpg" %}" alt="sksil"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/pisf.jpg" %}" alt="pisf"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/filmoteka.png" %}" alt="filmoteka"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/kiosk.jpg" %}" alt="kiosk"/>
		</div>
	</div>
</article>
{% endblock content %}
