{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="hidden-xs col-sm-2 nav-rep">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="hidden-xs col-sm-2 nav-rep">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="col-sx-12 col-sm-2 nav-rep rep-white">Towarzysze</p></a>
				<a href="{% url 'kontakt' %}"><p class="hidden-xs col-sm-2 nav-rep">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<!-- carousel -->
<div class="container col-sm-12">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active curousel-img">
        <img src="{% static "images/slide-1-part.jpg" %}" alt="slide-1">
        <div class="carousel-caption">
          <h3>Dziękujemy naszym Towarzyszom!</h3>
        </div>
      </div>

      <div class="item curousel-img">
        <img src="{% static "images/slide-2-part.jpg" %}" alt="slide-2">
        <div class="carousel-caption">
          <h3>Dzięki Wam...</h3>
        </div>
      </div>
    
      <div class="item curousel-img">
        <img src="{% static "images/slide-3-part.jpg" %}" alt="slide-3">
        <div class="carousel-caption">
          <h3>...możemy oferować naszym widzom...</h3>
        </div>
      </div>

      <div class="item curousel-img">
        <img src="{% static "images/slide-4-part.jpg" %}" alt="slide-4">
        <div class="carousel-caption">
          <h3>...kino na najwyższym poziomie!</h3>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--end carousel-->
<article class="container">
	<div class="row">
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/eurotrad.png" %}" alt="eurotrad"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/cbf.jpg" %}" alt="cbf"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/students.jpg" %}" alt="students"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/kulisy.jpg" %}" alt="kulisy"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/5kg.png" %}" alt="5kg"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/waw.png" %}" alt="waw"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/irka.jpg" %}" alt="irka"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/polska.png" %}" alt="polska"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/sksil.jpg" %}" alt="sksil"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/pisf.jpg" %}" alt="pisf"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/filmoteka.png" %}" alt="filmoteka"/>
		</div>
		<div class="col-sm-3 partnerzy-col">
			<img src="{% static "images/kiosk.jpg" %}" alt="kiosk"/>
		</div>
	</div>
</article>
{% endblock content %}
