{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="hidden-xs col-sm-2 nav-rep">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="col-sx-12 col-sm-2 nav-rep rep-white">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="hidden-xs col-sm-2 nav-rep">Towarzysze</p></a>
				<a href="{% url 'kontakt' %}"><p class="hidden-xs col-sm-2 nav-rep">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<article class="container reservation-form">
	<h2>Zarezerwuj film</h2>
		<form method="POST" action="">{% csrf_token %}
			{{ formreservation.as_p }}
			<button type="submit" class="save btn btn-default">Zarezerwuj</button>
		</form>
	<h2></br>Zarezerwuj telefonicznie:</br><span class="glyphicon glyphicon-phone-alt gly-color2"></span></br>510 194 247</h2>
</article>
{% endblock content %}
