{% extends 'kinokc/base.html' %}

{% block content %}
		<nav class="container">
			<div class="row test">
				<a href="{% url 'repertuar' %}"><p class="col-xs-12 col-sm-2">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="col-xs-12 col-sm-2">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="col-xs-12 col-sm-2">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="col-xs-12 col-sm-2">Partnerzy</p></a>
				<a href="{% url 'kontakt' %}"><p class="col-xs-12 col-sm-2">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<article class="container">
</article>
{% endblock content %}
