{% extends 'kinokc/base.html' %}
{% load staticfiles %}

{% block content %}
		<nav class="container">
			<div class="row">
				<a href="{% url 'repertuar' %}"><p class="hidden-xs col-sm-2 nav-rep">Repartuar</p></a>
				<a href="{% url 'bilety' %}"><p class="hidden-xs col-sm-2 nav-rep">Bilety</p></a>
				<a href="{% url 'rezerwacje' %}"><p class="hidden-xs col-sm-2 nav-rep">Rezerwacje</p></a>
				<a href="{% url 'partnerzy' %}"><p class="hidden-xs col-sm-2 nav-rep">Towarzysze</p></a>
				<a href="{% url 'kontakt' %}"><p class="hidden-xs col-sm-2 nav-rep">Kontakt</p></a>
			</div>
		</nav>
	</div>
</header>
<article class="container article-thankyou">
 <p class="col-sx-12 thankyou">Dziękujemy Towarzyszu!</p>
</article>
{% endblock content %}
