{
border: 1px solid green;
}
a:link {
outline:none;
text-decoration: none;
}
body {
font-family: "Anton";
background-color: #231F20;
}
header .col-sm-10 {
display: flex;
justify-content: flex-end;
}
#KC {
height: 70px;
}
header .col-sm-1 {
height: 50px;
width: 50px;
padding-right: 2px;
padding-left: 2px;
border-radius: 9pt;
opacity: 0.5;
}
header .col-sm-2 {
height: 170px;
padding: 0;
}
.col-sm-2 img {
width: 100%;
height: 170px;
}
nav p {
text-align: center;
font-size: 25px;
color: #ED1C24;
}
nav .col-sm-2 {
height: 40px;
}
article img {
width: 100%;
}
.carousel_strech {
padding: 0px;
border: 1px solid #CBD2D4;
}
.gly-open {
text-align: center;
color: green;
}
.gly-open h1 {
font-size: 70px;
}
/*repertuar*/
.nav-rep {
height: 0;
}
.rep-white {
color: #ED1C24;
text-shadow: 5px 5px 40px #ED1C24,
			-5px -5px 40px #ED1C24,
			 5px -5px 40px #ED1C24,
			 -5px 5px 40px #ED1C24;
}
.curousel-img h3 {
color: #ED1C24;
font-size: 30px;
text-shadow: 2px 2px 2px black,
			-2px -2px 2px black,
			 2px -2px 2px black,
			 -2px 2px 2px black;
}
.start-description {
text-align: justify;
font-size: 20px;
color: #FDFDFF;
}
.start-description strong {
color: #ED1C24;
}
.start-title {
text-align: center;
font-size: 35px;
color: #ED1C24;
}
.start-img {
border-radius: 7pt;
padding: 0;
height: 300px;
margin-bottom: 20px;
border: 1px solid #CBD2D4;
}
.repertuar-col {
padding-right: 50px;
height: 250px;
background-image: url('../images/logokc.png');
background-size: 100% 100%;
}
.repertuar-col img {
height: 200px;
margin-top: 25px;
border-radius: 7pt;
border: 1px solid #CBD2D4;
}
.repertuar-text {
color: #FDFDFF;
}
.repertuar-text-title {
height: 50px;
color: #ED1C24;
font-size: 30px;
padding-left: 0px;
}
.repertuar-text-title:hover {
color: #ED1C24;
text-shadow: 2px 2px 35px #ED1C24,
			-2px -2px 35px #ED1C24,
			 2px -2px 35px #ED1C24,
			 -2px 2px 35px #ED1C24;
}
.repertuar-text p {
padding-left: 0px;
}
.repertuar-text-text {
text-overflow: ellipsis;
overflow: hidden;
border: 1px solid #231F20;
max-height: 100px;
text-align: justify;
}
.repertuar-text-text a {
color: #FDFDFF;
}
.repertuar-text-text-pe {
position: absolute; 
bottom: 0; 
left: 0;
width: 100%; 
text-align: center; 
margin: 0; 
padding: 50px 0; 
background-image: linear-gradient(to bottom, transparent, #231F20);
}
.repertuar-time {
height: 25px;
margin-top: 0px;
margin-bottom: 0px;
color: green;
}
.repertuar-top-border {
border-top: 1px solid #CBD2D4;
}
@media (max-width: 768px) {
.repertuar-col img {
height: 100%;
}
.repertuar-text-text {
max-height: 140px;
margin-bottom: 30px;
}
}
@media (min-width: 480px) and (max-width: 768px) {
.repertuar-col {
padding-right: 70px;
}
}
.repertuar-glyphicon-cloud-upload {
color: blue;
font-size: 30px;
text-align: center;
}
/*rezerwacje*/
.reservation-form {
border-radius: 7pt 7pt 0 0;
font-size: 15px;
color: blue;
text-align: center;
background-image: url('../images/reservationimg.jpg');
background-size: 100% 100%;
min-height: 600px;
text-shadow: 2px 2px 2px black,
			-2px -2px 2px black,
			 2px -2px 2px black,
			 -2px 2px 2px black;
}
/*kontakt*/
.kontakt-text {
font-size: 20px;
color: #FDFDFF;
padding: 0;
}
.kontakt-text div {
text-align: center;
height: 200px;
background-image: url('../images/logokc.png');
background-size: 100% 100%;
}
.kontakt-text p {
margin-top: 40px;
margin-right:20px;
}
.kontakt-img {
margin-top: 40px;
border-radius: 7pt;
border: 1px solid #CBD2D4;
padding: 0px;
margin-bottom: 40px;
}
@media (max-width: 768px) {
.kontakt-img {
height: 250px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
#ostatni-seans {
font-size: 15px;
}
}
.gly-color {
color: #ED1C24;
}
.google_map {
margin-top: 40px;
border-radius: 7pt;
padding: 0px;
}
/*partnerzy*/
.partnerzy-col {
height: 200px;
background-image: url('../images/logokc.png');
background-size: 100% 100%;
}
.partnerzy-col img {
height: 120px;
margin-top: 37px;
padding-right:30px;
border-radius: 7pt;
}
@media (min-width: 480px) and (max-width: 768px) {
.partnerzy-col {
padding-right: 70px;
}
}
/*bilety*/
.bilety-col {
text-align: center;
height: 180px;
background-image: url('../images/logokc.png');
background-size: 100% 100%;
}
.bilety-col .white {
font-size: 20px;
color: #FDFDFF;
}
.bilety-col .red {
margin-top: 20px;
color: #ED1C24;
font-size: 20px;
}
.uwaga {
text-align: center;
font-size: 20px;
padding-top: 40px;
color: #ED1C24;
}
.bilety-left {
position: relative;
float: right;
height: 100px;
width: 100px;
}
.bilety-right {
height: 100px;
width: 100px;
}
.legi-left {
padding: 0;
}
.bilety-text {
text-align: center;
color: #FDFDFF;
font-size: 15px;
padding-right: 20px;
padding-top: 20px;
}
/*post*/
.post {
color: #FDFDFF;
font-size: 15px;
}
/*post_detail*/
.post_detail_img {
border-radius: 7pt;
border: 1px solid #CBD2D4;
padding: 0;
}
.post_detail_title {
color: #ED1C24;
}
.post_detail_gramy {
color: green;
font-size: 17px;
}
.post-detail-align {
text-align: justify;
}
.post_detail_text {
text-align: justify;
color: #FDFDFF;
}
.post_detail_share {
color: green;
font-size: 70px;
}
/*post_new*/
.post_new {
color: green;
}
/*footer*/
footer {
border-top: 1px solid #CBD2D4;
padding-top: 10px;
}
footer p {
font-size: 15px;
color: #FDFDFF;
text-align: center;
}
#knight {
text-align: center;
font-size: 100%;
color: #FDFDFF;
}
.glyphicon-knight {
margin-top: 10px;
color: #FDFDFF;
}
.footer-red-text {
color: #ED1C24;
}
.footer-newsletter {
padding: 0px;
margin: 0px;
}
footer .col-sm-6 .col-sm-2 {
padding: 0;
}
footer .col-sm-6 img {
height: 100%;
}
/*signup*/
.signup {
text-align: center;
margin-top: 25px;
}
.article-signup {
background-image: url('../images/signupimg.jpg');
background-size: 100% 100%;
min-height: 600px;
border-radius: 7pt 7pt 0 0;
color: #ED1C24;
font-size: 20px;
text-shadow: 2px 2px 2px black,
			-2px -2px 2px black,
			 2px -2px 2px black,
			 -2px 2px 2px black;
}
/*thankyou*/
.article-thankyou {
background-image: url('../images/mao.jpg');
background-size: 100% 100%;
min-height: 600px;
border-radius: 7pt 7pt 0 0;
}
.thankyou {
text-align: center;
margin-top: 200px;
color: #ED1C24;
font-size: 30px;
text-shadow: 2px 2px 2px black,
			-2px -2px 2px black,
			 2px -2px 2px black,
			 -2px 2px 2px black;
}
@media (max-width: 768px) {
.thankyou {
margin-top: 50px;
}
}
/*res_is_done*/
.res_is_done {
background-image: url('../images/res_is_done.jpg');
background-size: 100% 100%;
min-height: 600px;
border-radius: 7pt 7pt 0 0;
}
.resthankyou {
margin-top: 20px;
}
/*hover-effect*/
.view {
	border-radius: 7pt;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
	border: 1px solid #CBD2D4;
	border-radius: 7pt;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
	border: 1px solid #CBD2D4;
	border-radius: 7pt;
    display: block;
    position: relative;
    padding: 0px;
}
.view h2 {
    font-family: "Anton";
    text-transform: uppercase;
    color: #FDFDFF;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: "Anton";
    font-size: 17px;
    position: relative;
    color: #FDFDFF;
    padding: 100px 20px 20px;
    text-align: center
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(15, 16, 97, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}

